
/* GENERAL RESET */

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    background-color: #121212;
    color: white;

}



/* Header */

.header{
    padding: 2rem 0;
    box-shadow: 0 5px 1rem rgba(255,255,255,0.2);
}

.navbar{
    width: 90%;
    margin:auto;
    height: 10vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;

    font-size: 3rem;
}

.navbar__logo{
    font-family: 'Shadows Into Light', cursive;
}

.special{
    -webkit-animation: jitter 1s ease-in;
            animation: jitter 1s ease-in;
}

.navbar__link{
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin:0 1rem;
}

.navbar__link:hover,
.footer__link:hover,
.social__link:hover{
    color: green;
}

/* MAIN */

main{
    padding: 3rem 0;
}

.main__title{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 6rem;
    justify-items: center;
}

.four-card{
    -webkit-box-ordinal-group: 2;
            order: 1;
}

.single-price{
    -webkit-box-ordinal-group: 3;
            order: 2;
}

.huddle-single{
    -webkit-box-ordinal-group: 4;
            order: 3;
}

.fylo-landing{
    -webkit-box-ordinal-group: 5;
            order: 4;
}

.huddle-alternate{
    -webkit-box-ordinal-group: 6;
            order: 5;
}

.fylo-dark{
    -webkit-box-ordinal-group: 7;
            order: 6;
}

.clipboard{
    -webkit-box-ordinal-group: 8;
            order: 7;
}

.huddle-curved{
    -webkit-box-ordinal-group: 9;
            order: 8;
}

.ping{
    -webkit-box-ordinal-group: 10;
            order: 9;
}

.dashboard{
    order: 10;
}

.apparel{
    order: 11;
}

.pricing{
    order: 12;
}

.signup{
    order: 13;
}

.footer-holder{
    border-top: 1px solid gray;
    padding: 3rem 0;
}

.footer{
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 2rem;
    text-align: center;
}

.footer__link{
    color: white;
    text-decoration: underline;
}

.social__link{
    display: inline-block;
    color: white;
    margin-top: 1rem;
}

/* DAYMODE EFFECT */

.daymode{
    background-color: white;
    color: black;
}

.daymode .header{
    box-shadow: 0 5px 1rem rgba(0,0,0,0.2);
}

.daymode .card{
    box-shadow: 0px 1rem 2rem rgba(0,0,0,0.5);
}

.daymode .card:hover{
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    box-shadow: 5px 1.5rem 3rem rgba(0,0,0,0.5);
}

.daymode .card__title{
    color: black;
}

.daymode .card__title::after{
    background-color: black;
}

.daymode .link{
    color: black;
}

.daymode .btn{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
 
}

.daymode .btn:hover{
    color:white;
    background-color: black;
}

.daymode .navbar__link{
    color: black;
}

.daymode .footer__link,
.daymode .social__link{
    color: black;
}


.navbar__link:hover,
.footer__link:hover,
.social__link:hover{
    color: green;
}



@media(max-width:430px){
    .navbar{
        font-size: 2rem;
    }
}